/* Write your CSS here */
.TeamMatchContainer {
  min-height: 200vh;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#a4261d, #1e293b);
}
.teamMatchInnerContainer {
  width: 100%;
}
.teamBannerImage {
  width: 100%;
}
.teamMatchHeading {
  color: #fff;
  font-size: 24px;
  font-family: 'Bree Serif';
}
.matchCardContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}
